body {
    padding: 80px 40px;
  }
  
  .wrapper {
    font-size: 16px;
    color:lightgray;
    padding: 25px;
    height: 600px;
  }
  
  svg {
    overflow: visible;
  }
  
  text {
    font-size: 14px;
    color: black;
  }
  
  .axis .domain,
  .axis.xAxis line {
    display: none;
  }
      